@model IEnumerable<Product>
@{
    var categories = new List<string> { "Телефони", "Ноутбуки" };
}

<form asp-action="Index" method="get">
    <input type="text" name="searchTerm" value="@ViewBag.SearchTerm" placeholder="Search products..." />
    <select name="category">
        <option value="">All Categories</option>
        @foreach (var category in categories)
        {
            <option value="@category" selected="@(category == ViewBag.Category)">@category</option>
        }
    </select>

    <button type="submit">Search</button>
</form>

<div>
    @await Html.PartialAsync("ProductList", Model)
</div>

<div>
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        <a asp-action="Index" asp-route-page="@i" asp-route-searchTerm="@ViewBag.SearchTerm" asp-route-category="@ViewBag.Category">
            @i
        </a>
    }
</div>
